[Desktop Entry]
Name=Azul box
Comment=A box that i like
Exec=/opt/azul_box/azul-box
Icon=/opt/azul_box/assets/logo.svg
Terminal=false
Type=Application
Categories=Utility;
